:root{
    --fontMain: 'InriaSans-Regular';
    --fontSec: 'InriaSans-Bold';
    --color-text: #ffffff;
    --color-text2: #4682A9;
    --color-text3: #808080;
    --color-text4: #C5EBAA;
    --main-color: #F6F4EB;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
    --body:#F6F4EB;
}
body{
    background-color: #ffffff;
    min-height: 100vh;
    background-size: cover;
    color: #ffffff;
}

.login-form {
    background-color: #050506;
    border-radius: 15px;
    width: px;
    height: 600px;
}

#title {
    font-family: 'Modak', cursive;
}

#calendar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.day, .date {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.current {
    background-color: lavender;
}
