:root{
    --fontMain: 'InriaSans-Regular';
    --fontSec: 'InriaSans-Bold';
    --color-text: #ffffff;
    --color-text2: #4682A9;
    --color-text3: #808080;
    --color-text4: #C5EBAA;
    --main-color: #F6F4EB;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
    --body:#F6F4EB;
}
.aTeacher-container{
    display: block;
    position: relative;
    top: 90px;
    width: 95vw;
    height: 70vh;
    transition: margin-left 0.3s ease;
}
.aTeacher-container.hide{
    display: none;
    margin-left: 250px;
}

.addNewTeacher{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 140px;
    background-color: #46A750;
    border-radius: 5px;
    cursor: pointer;
}
.addNewTeacher:hover{
    background-color: rgb(43, 190, 58);
}
.addNewTeacher img{
    width: 35px;
    height: 30px;
}
.addNewTeacher h5{
    color: white;
    margin-top: -28px;
    margin-left: 20px;
    text-align: center;
}
.aTeacher-container .cont{
    overflow-x: auto;
    width: 100%;
    border-radius: 10px;
}
.aTeacher-container h1{
    font-style: var(--fontMain);
    color: #6B2525;
    margin-left: 10px;
}
.aTeacher-container table{
    width: 300px;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #EDEDED;
}
.aTeacher-container table, .aTeacher-container td{
    border: 0px;
}
.aTeacher-container tr{
    border-bottom: 2px solid #B86F6F;
}
.aTeacher-container th, .aTeacher-container td {
    padding: 12px;
    text-align: left;
}
.aTeacher-container th {
    background-color: #B86F6F;
    color: #ffffff;
    font-size: 14px;
    font-style: var(--fontMain);
    text-align: center;
}
.aTeacher-container th:first-child {
    border-top-left-radius: 10px;
}
.aTeacher-container th:last-child {
    border-top-right-radius: 10px;
}
.aTeacher-container td {
    background-color: #EDEDED;
    color: #959191; 
    font-size: 13px;
    text-align: center;
}
.box-actions {
    display: inline-block;
    margin-left: 10px;
}
.box-actions img[alt="edit"] {
    width: 30px;
    height: 20px;
    background-color: #46A750;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.box-actions img[alt="arc"] {
    width: 30px;
    height: 20px;
    background-color: #E82626;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.box-actions:hover img[alt="edit"] {
    background-color: rgb(43, 190, 58);
}
.box-actions:hover img[alt="arc"] {
    background-color: #ff4444;
}
.bg-modal{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(103, 103, 103, 0.7);
    justify-content: center;
    align-items: center;
}
.form-addNew{
    position: relative;
    display: none;
    left: -1%;
    width: 90%;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    justify-content: center;
}
.form-addNew h2{
    text-align: center;
    position: relative;
    font-family: var(--fontSec);
    color: #6B2525;
    margin-top: 50px;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    font-family: var(--fontMain);
    color: #9B9898;
    margin-left: 12%;
}
form input {
    width: 70%;
    max-width: 250px;
    margin-left: 12%;
    margin-bottom: 15px;
    font-family: var(--fontMain);
    background-color: #D4D4D4;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-left: 0%; 
}
form button {
    display: inline-block;
    align-items: center;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6B2525;
    color: white;
    cursor: pointer;
}
#uploadButton {
    background-color: #6B2525;
}
#fileInput {
    display: none;
}
#uploadButton:hover, form button:hover {
    background-color: #5a1a1a;
}
#updateButton{
    margin-left: 60%; 
}
.close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 35px;
    transform: rotate(45deg);
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
.form-edit{
    position: relative;
    display: none;
    left: -1%;
    width: 90%;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    justify-content: center;
}
.form-edit h2{
    text-align: center;
    position: relative;
    font-family: var(--fontSec);
    color: #6B2525;
    margin-top: 50px;
}
.form-arc{
    position: relative;
    display: none;
    left: -1%;
    width: 90%;
    height: 290px;
    background-color: white;
    border-radius: 10px;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    justify-content: center;
}
.form-arc h2{
    text-align: center;
    position: relative;
    font-family: var(--fontSec);
    color: #6B2525;
    margin-top: -20px;
    margin-bottom: 60px;
}
.warning-image {
    display: block;
    margin: 5px auto;
    width: 150px;
}
#archiveButton {
    background-color: #2694D2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#archiveButton:hover {
    background-color: #1e7abf;
}
#cancelButton {
    background-color: #E62A2A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#cancelButton:hover {
    background-color: #c71d1d;
}
.form-addNew.show, .form-edit.show, .form-arc.show {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

@media only screen and (min-width: 321px) and (max-width: 600px){
    .aTeacher-container{
        max-width: 600px;
    }
    .aTeacher-container .cont {
        overflow-x: hidden;
    }
    .addNewTeacher{
        position: relative;
        left: -125px;
        margin-left: 85vw;
    }
    .aTeacher-container table{
        width: 100%;
    }
    form label{
        margin-left: calc(53% - 135px);
    }
    form input {
        margin-left: calc(53% - 135px);
    }
}

@media only screen and (min-width: 601px){
    .aTeacher-container{
        max-width: 767px;
        height: 540px;
        left: 1%;
    }
    .aTeacher-container h1{
        position: relative;
        left: 1%;
    }
    .addNewTeacher{
        margin-left: 70vw;
    }
    .aTeacher-container table{
        width: 100%;
    }
    .aTeacher-container th{
        font-size: 16px;
    }
    .aTeacher-container td{
        font-size: 14px;
    }
    .box-actions img[alt="edit"]{
        width: 40px;
        height: 30px;
    }
    .box-actions img[alt="arc"]{
        width: 40px;
        height: 30px;
    }
    .form-addNew, .form-edit{
        max-width: 540px;
    }
    .form-arc{
        max-width: 400px;
    }
    form label{
        margin-left: calc(53% - 135px);
    }
    form input {
        margin-left: calc(53% - 135px);
    }
}

@media only screen and (min-width: 768px){
    .aTeacher-container{
        min-width: 400px;
        width: 55%;
        left: 43%;
        margin-top: 120px;
    }
    .aTeacher-container.sidebar-collapsed {
        margin-left: -70px;
        display: block;
    }
    .addNewTeacher{
        margin-left: 34vw;
    }
    .aTeacher-container table{
        min-width: 400px;
        width: 100%;
    }
    .form-addNew, .form-edit{
        width: 100%;
        height: 100%;
        min-width: 540px;
        max-width: 650px;
        max-height: 500px;
    }
    .form-arc{
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 350px;
    }
    .form-addNew h2, .form-edit h2, .form-arc h2{
        font-size: 32px;
        margin-bottom: 30px;
    }
    form label{
        font-size: 18px;
    }
    form input{
        font-size: 16px;
    }
    form button{
        width: 120px;
        font-size: 16px;
    }
    .button-container{
        margin-left: 5%;
        margin-top: 20px;
    }
    #updateButton{
        margin-left: 75%;
        margin-top: 20px;
    }
    .warning-image{
        width: 200px;
    }
    #archiveButton, #cancelButton{
        width: 155px;
        height: 38px;
        margin-top: 25px;
        font-size: 16px;
    }
    #cancelButton{
        width: 120px;
    }
}

@media only screen and (min-width: 992px){
    .aTeacher-container{
        width: 55%;
        max-width: 650px;
    }
    .aTeacher-container h1{
        font-size: 45px;
    }
    .addNewTeacher{
        min-width: 150px;
        width: 35%;
        height: 40px;
    }
    .addNewTeacher img{
        width: 50px;
        height: 45px;
        margin-top: -2px;
    }
    .addNewTeacher h5{
        font-size: 18px;
        margin-top: -37px;
        margin-left: 4vw;
    }
    .aTeacher-container table{
        width: 100%;
    }
    .aTeacher-container th{
        font-size: 18px;
    }
    .aTeacher-container td{
        font-size: 16px;
    }
    .form-addNew, .form-edit{
        width: 100%;
        height: 100%;
        min-width: 650px;
        max-width: 750px;
        max-height: 550px;
    }
    .form-arc{
        width: 100%;
        height: 100%;
        max-width: 550px;
        max-height: 400px;
    }
    .form-addNew h2, .form-edit h2, .form-arc h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    form label{
        font-size: 20px;
    }
    form input{
        font-size: 18px;
    }
    form button{
        width: 140px;
        font-size: 18px;
    }
    .button-container{
        margin-left: 5%;
        margin-top: 50px;
    }
    #updateButton{
        margin-top: 40px;
    }
    .warning-image{
        width: 230px;
    }
    #archiveButton, #cancelButton{
        margin-top: 15px;
        font-size: 18px;
    }
    #archiveButton{
        width: 170px;
    }
}

@media only screen and (min-width: 1200px){
    .aTeacher-container{
        max-width: 1600px;
        width: 58%;
        left: 480px;
    }
    .addNewTeacher{
        max-width: 240px;
        height: 50px;
    }
    .addNewTeacher img{
        width: 60px;
        height: 55px;
    }
    .addNewTeacher h5{
        font-size: 20px;
        margin-top: -43px;
        margin-left: 3vw;
    }
    .aTeacher-container table{
        min-width: 620px;
        max-width: 1050px;
        margin-left: 2vw;
    }
    .aTeacher-container th{
        font-size: 23px;
    }
    .aTeacher-container td{
        font-size: 19px;
    }
    .box-actions img[alt="edit"]{
        min-width: 40px;
        min-height: 30px;
        width: 2vw;
        height: 2vw;
    }
    .box-actions img[alt="arc"]{
        min-width: 40px;
        min-height: 30px;
        width: 2vw;
        height: 2vw;
    }
    .form-addNew, .form-edit{
        width: 100%;
        height: 100%;
        min-width: 670px;
        max-width: 750px;
        max-height: 570px;
    }
    .form-arc{
        width: 100%;
        height: 100%;
        max-width: 570px;
        max-height: 420px;
    }
    .form-addNew h2, .form-edit h2, .form-arc h2{
        font-size: 37px;
        margin-bottom: 30px;
    }
    form label{
        font-size: 21px;
    }
    form input{
        font-size: 19px;
    }
    form button{
        width: 140px;
        font-size: 19px;
    }
    .button-container{
        margin-top: 55px;
    }
    #updateButton{
        margin-top: 45px;
    }
    .warning-image{
        width: 250px;
    }
    #archiveButton, #cancelButton{
        margin-top: 5px;
        font-size: 19px;
    }
    #archiveButton{
        width: 175px;
    }
}