:root{
    --fontMain: 'InriaSans-Regular';
    --fontSec: 'InriaSans-Bold';
    --color-text: #ffffff;
    --color-text2: #4682A9;
    --color-text3: #808080;
    --color-text4: #C5EBAA;
    --main-color: #F6F4EB;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
    --body:#F6F4EB;
}
body{
    min-height: 50vh;
    background: white;
    color: white;
    background-size: cover;
    background-position: center;
}
.side-bar{
    display: none;
    background: #6B2525;
    width: 100vw;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    overflow-y: hidden; 
    overflow-y: auto;
    transition: left 0.3s ease;
}
.side-bar.active {
    transform: translateX(0);
    display: block;
}
.side-bar .sidebar-logo{
    width: 250px;
    margin: 15px;
    margin-top: 50px;
    margin-left: 30px;
    transition: margin 0.3s ease, width 0.3s ease;
}
.menu{
    width: 100%;
    margin-top: 80px;
}
.menu .item{
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.menu .item:first-child {
    font-size: 20px;
    cursor: default;
    top: -10px;
}
.menu .item .menu-admin {
    margin-top: -40px;
    margin-left: 5px;
}
.menu .item .menu-text{
    margin-top: -30px;
}
.menu .item a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.menu .item a:hover {
    color: #ff9800;
}
.item i{
    margin-right: 25px;
}
.menu img{
    width: 150px;
    height: auto;
    margin-left: -30px;
    margin-top: -40px;
    transition: margin 0.3s ease, width 0.3s ease;
}
.menu-btn {
    position: absolute;
    top: 20px;
    left: 230px;
    overflow-y: auto;
    transition: left 0.3s ease;
}
.menu-btn button {
    background: none;
    border: none;
    color: black;
    font-size: 35px;
    cursor: pointer;
}
.menu-btn button:hover {
    color: #ff9800;
}
.aHome-container{
    display: block;
    position: relative;
    top: 50px;
    width: 50vw;
    height: 50vh;
    transition: margin-left 0.3s ease;
}
.aHome-container.hide {
    display: none;
    margin-left: 250px;
}
.aHome-container h1{
    font-size: 30px;
    font-style: var(--fontMain);
    color: #6B2525;
    margin-top: 100px;
    margin-left: 30px;
}
.box{
    position: relative;
    display: block;
    top: 80px;
    margin: 20px;
    margin-left: 0px;
    margin-top: 50px;
    width: 240px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    background-color: #FF9A00;
}
.box .icon img{
    width: 180px;
    height: auto;
    opacity: 40%;
    margin-left: 80px;
    margin-top: 10px;
}
.box .number{
    position: absolute;
    display: block;
    margin-top: 70px;
    margin-left: 40px;
    font-size: 50px;
    font-style: var(--fontMain);
    font-weight: bolder;
    color: #ffffff;
}
.box p{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 20px;
    font-size: 30px;
    font-style: var(--fontMain);
    color: #ffffff;
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
    .side-bar{
        display: none;
    }
    .side-bar .sidebar-logo{
        margin-left: 30vw;
    }
    .menu .item{
        margin-left: 20vw;
    }
    .menu .item .menu-text, .menu .item .menu-admin{
        margin-left: 10vw;
    }
    .menu-btn {
        left: 72vw;
        margin-left: 10vw;
    }
    .aHome-container{
        display: block;
    }
    .aHome-container h1{
        margin-left: 12vw;
    }
    .box{
        min-width: 240px;
        width: 50vw;
        margin-left: 15vw;
    }
    .box .icon img{
        min-width: 180px;
        width: 30vw;
        margin-left: 22vw;
    }
}

@media only screen and (min-width: 601px) {
    .side-bar{
        display: none;
    }
    .side-bar .sidebar-logo{
        width: 350px;
        margin-left: 30vw;
    }
    .menu img{
        width: 180px;
    }
    .menu .item{
        margin-left: 20vw;
    }
    .menu .item .menu-text, .menu .item .menu-admin{
        margin-left: 10vw;
        font-size: 25px;
    }
    .menu-btn {
        left: 72vw;
        margin-left: 10vw;
    }
    .aHome-container{
        display: block;
    }
    .aHome-container h1{
        font-size: 40px;
        margin-left: 12vw;
    }
    .box{
        width: 50vw;
        height: 20vw;
        min-height: 200px;
        margin-left: 20vw;
    }
    .box .icon img{
        width: 250px;
        margin-top: -3vw;
        margin-left: 25vw;
    }
    .box p{
        margin-top: -9vw;
    }
}
@media only screen and (min-width: 768px) {
    .side-bar{
        display: block;
        width: 40vw;
        height: 120vh;
        left: 0;
        position: fixed;
        top: 0;
        overflow-y: hidden; 
        overflow-y: auto;
        transition: left 0.3s ease;
    }
    .side-bar .sidebar-logo{
        width: 190px;
        margin: 15px;
        margin-top: 0px;
        margin-left: 7vw;
        transition: margin 0.3s ease, width 0.3s ease;
    }
    .side-bar.sidebar-collapsed {
        left: -110px;
    }
    .side-bar.sidebar-collapsed .sidebar-logo {
        margin-left: 13vw;
        width: 200px;
    }
    .side-bar.sidebar-collapsed .menu img {
        width: 165px;
        margin-left: 12vw;
        margin-top: -10px;
    }
    .side-bar.sidebar-collapsed + .menu-btn {
        left: 220px;
    }
    .aHome-container.sidebar-collapsed {
        margin-left: -70px;
        display: block;
    }
    .menu .item .menu-admin.hidden,
    .menu .item .menu-text.hidden {
        display: none;
    }
    .menu{
        width: 30vw;
        margin-top: 90px;
        margin-left: 10px;
    }
    .menu .item{
        margin-left: -1vw;
        margin-top: -7%;
    }
    .menu .item:first-child{
        margin-top: -90px;
    }
    .menu .item .menu-text, .menu .item .menu-admin{
        font-size: 25px;
        margin-left: 0vw;
        margin-top: 0vw;
    }
    .menu img{
        width: 130px;
        height: auto;
        margin-left: -20px;
        margin-top: 0px;
        transition: margin 0.3s ease, width 0.3s ease;
    }
    .menu-btn{
        left: 320px;
    }
    .aHome-container{
        display: block;
        left: 30vw;
        width: 100vw;
        height: 100%;
        max-height: 500px;
        max-width: 661px;
        transition: margin-left 0.3s ease;
    }
    .aHome-container h1 {
        margin-left: 15vw;
    }
    .box{
        margin-left: 18vw;
        height: 100%;
        max-width: 400px;
        max-height: 280px;
    }
    .box .icon img{
        width: 290px;
        height: auto;
        margin-left: 160px;
        margin-top: -30px;
    }
    .box .number{
        margin-top: 80px;
        font-size: 55px;
    }
    .box p{
        margin-top: -50px;
        font-size: 35px;
    }
}

@media only screen and (min-width: 992px) {
    .side-bar{
        width: 40vw;
        max-width: 410px;
    }
    .side-bar.sidebar-collapsed {
        left: -180px;
    }
    .side-bar .sidebar-logo{
        width: 230px;
        margin-top: 0px;
        margin-left: 4vw;
    }
    .side-bar.sidebar-collapsed .sidebar-logo {
        width: 230px;
        margin-left: 15vw;
    }
    .side-bar.sidebar-collapsed + .menu-btn {
        left: 150px;
    }
    .side-bar.sidebar-collapsed .menu img{
        width: 180px;
        margin-left: 13vw;
        margin-top: -30px;
    }
    .menu{
        width: 30vw;
        margin-top: 90px;
        margin-left: 30px;
    }
    .menu img{
        width: 170px;
    }
    .menu .item .menu-text, .menu .item .menu-admin{
        font-size: 30px;
        margin-left: 0vw;
        margin-top: 0vw;
    }
    .menu-btn{
        left: 330px;
    }
    .aHome-container.sidebar-collapsed {
        margin-left: -120px;
    }
    .aHome-container{
        max-width: 800px;
        max-height: 900px;
    }
    .aHome-container h1{
        font-size: 45px;
        margin-left: 10vw;
    }
    .box{
        max-width: 450px;
        max-height: 290px;
        margin-left: 13vw;
    }
    .box .icon img{
        width: 330px;
        margin-left: 190px;
    }
    .box .number{
        margin-top: 100px;
        margin-left: 70px;
        font-size: 70px;
    }
    .box p{
        margin-top: -90px;
        font-size: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .side-bar{
       max-width: 430px; 
    }
    .side-bar.sidebar-collapsed .sidebar-logo{
        margin-left: 190px;
    }
    .side-bar.sidebar-collapsed .menu img{
        margin-left: 180px;
        margin-top: -20px;
    }
    .side-bar.sidebar-collapsed + .menu-btn {
        left: 60px;
    }
    .menu{
        margin-top: 20px;
    }
    .menu .item{
        margin-top: -5%;
    }
    .menu-btn{
        left: 300px;
    }
    .aHome-container{
        min-width: 1200px;
        max-width: 1500px;
        left: 480px;
    }
    .aHome-container h1{
        margin-left: 2vw;
    }
    .box{
        position: relative;
        display: inline-block;
        margin-left: 80px;
        margin-right: 100px;
    }
}