:root{
    --fontMain: 'InriaSans-Regular';
    --fontSec: 'InriaSans-Bold';
    --color-text: #ffffff;
    --color-text2: #4682A9;
    --color-text3: #808080;
    --color-text4: #C5EBAA;
    --main-color: #F6F4EB;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
    --body:#F6F4EB;
}
body{
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    width: 100vw;
    height: 855px;
    top: -8px;
    left: -8px;
}
.s-bground{
    position: fixed;
    display: flex;
    object-fit: fill;
    width: 100vw;
    height: 100%;
}
.box {
    position: absolute;
    top: 90px;
    left: 5px;
    background: rgb(132, 109, 155); 
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 25px;
    box-shadow: 
    0 0 20px rgba(0, 0, 0, 0.1), 
    0 0 20px rgba(0, 0, 0, 0.1), 
    0 0 20px rgba(0, 0, 0, 0.1), 
    0 0 20px rgba(0, 0, 0, 0.1);
}
.form-box{
    display: block;
    width: 230px;
    height: 350px;
    margin: 0px 10px;
}
.form-box h3{
    font-style: var(--fontSec);
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.form-box label{
    margin-left: -55px;
    margin-top: 20px;
    font-style: var(--fontMain);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    padding: 0 80px;
}
.form-box form .field{
    display: flex;
    margin-bottom: -0px;
    flex-direction: column;
}
.form-box form .input input{
    margin-left: 15px;
    margin-top: -5px;
    height: 30px;
    width: 110px;
    font-size: 15px;
    border-radius: 10px;
    padding: 0 80px;
    padding-left: 2%;
    border: none;
    border-bottom: 2px solid #808080;
    outline: none;
}
.loginbtn {
    position: relative;
    top: -15px;
    display: flex;
    justify-content: center; 
}
.loginbtn input,[type="submit"] {
    margin-top: 70px;
    height: 35px;
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    background-color: #8C3B7F;
    color: #fff; 
    transition: background-color 0.3s, color 0.3s; 
}
.loginbtn input[type="submit"]:hover {
    background-color: #8147bb80; 
    color: #bbb; 
}

@media only screen and (min-width: 321px) and (max-width: 600px){
    .form-box{
        min-width: 230px;
        max-width: 313px;
        width: 50%;
        left: -50px;
        margin-left: 20vw;
    }
    .form-box label{
        margin-left: -50px;
    }
    .form-box form .input input{
        width: 130px;
        margin-left: 25px;
    }
}

@media only screen and (min-width: 601px){
    .box{
        background: rgba(213, 179, 246, 0.5); 
    }
    .form-box{
        position: relative;
        top: 150px;
        left: 20%;
        margin-left: 32vw;
    }
}

@media only screen and (min-width: 768px){
    .box{
        background: rgba(213, 179, 246, 0.5); 
    }
    .form-box{
        max-width: 396px;
        max-height: 472px;
        width: 35%;
        height: 60%;
        top: 150px;
        left: 25%;
        margin-left: 30vw;
    }
    .form-box h3{
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .form-box label{
        font-size: 22px;
        margin-left: -30px;
    }
    .form-box form .input input{
        min-width: 110px;
        width: 50%;
        height: 40px;
        margin-left: 30px;
    }
    .loginbtn input,[type="submit"]{
        min-width: 130px;
        width: 45%;
        height: 40px;
    }
}

@media only screen and (min-width: 992px){
    .box{
        background: rgba(213, 179, 246, 0.5); 
    }
    .form-box{
        top: 150px;
        max-width: 396px;
        max-height: 472px;
    }
    .s-bground{
        height: 108vh;
    }
}

@media only screen and (min-width: 1200px){
    .box{
        background: rgba(213, 179, 246, 0.5); 
    }
    .form-box{
        top: 220px;
        margin-left: 35%;
    }
}