:root{
    --fontMain: 'InriaSans-Regular';
    --fontSec: 'InriaSans-Bold';
    --color-text: #ffffff;
    --color-text2: #4682A9;
    --color-text3: #808080;
    --color-text4: #C5EBAA;
    --main-color: #F6F4EB;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
    --body:#F6F4EB;
}
body{
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

.matter-cont{
    position: absolute;
    top: 100px;
    left: 16%;
    width: 70%;
    display: block;/*block*/
    align-items: center;
    text-align: center;
}
.matter-cont h1{
    font-style: var(--fontMain);
    color: var(--color-text);
    margin-bottom: 70px;
    margin-top: 50px;
}
.matter-cont p{
    font-style: var(--fontMain);
    font-size: 18px;
    color: var(--color-text);
    line-height: 1.2;
}
.s-btn1{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    bottom: 150px;
    right: 10px;
}
.s-btn1 a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
.s-btn1 img {
    width: 100px;
    height: auto;
    display: block;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.s-btn1 img[alt="right"], .s-btn1 img[alt="left"] {
    position: relative;
    margin-right: -30px;
}
.s-btn1 img[alt="right"]:hover, .s-btn1 img[alt="left"]:hover{
    transform: scale(1.1);
}

/*Choose Topic*/
.topic{
    position: absolute;
    width: 80%; 
    height: 400px;
    top: 80px;
    left: 10%;
    display: none;
    justify-content: space-around; 
    align-items: center;
    padding: 10px; 
    box-sizing: border-box;
    flex-wrap: wrap;
}
.topic h2{
    position: relative;
    display: block;
    top: 0;
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
}
.topic h3{
    position: relative;
    display: block;
    margin-top: -35px; 
    font-family: var(--fontMain);
    font-size: 18px;
    text-align: center;
    transition: color 0.3s ease;
}
.topic-choices{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.topic a{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    transition: transform 0.2s ease, opacity 0.2s ease;
    margin-top: -10px;
}
.topic img{
    position: relative;
    display: block;
    width: 155px;
    height: auto;
    margin-top: -20%;
    transition: transform 0.3s ease;
}
.topic a:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}
.topic a:hover h3 {
    color: #00ff55;
}

/*Matter=Topic*/
#matterTopic{
    position: absolute;
    display: none; /*none*/
    width: 80%; 
    height: 400px;
    top: 80px;
    left: 10%;
}
#solid{
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
#solidExamples{
    position: relative;
    display: grid;
    width: 50%;
    height: 100%;
    left: 65px;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    box-sizing: border-box;
}
#solidExamples h1{
    grid-column: span 3;
    top: -170px;
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}
#solidExamples img{
    position: relative;
    width: 100px;
    height: auto;
}
#solidExamples img:nth-child(5){
    left: 50px;
}
#solidExamples img:nth-child(6){
    left: 50px;
}
#solidDef{
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
    left: 6%;
}
#solidDef h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;

}
#solidDef p{
    font-size: 18px;
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.2;
}
.slg{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -20px;
}
.slg img{
    width: 90px;
    height: auto;
}
.slg-learn{
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
}
.slg-learn h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}
.slg-learn p{
    width: 60%;
    font-size: 18px;
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: left;
    margin-top: -150px;
    margin-left: 10px;
}
.slg-learn img{
    position: relative;
    width: 120px;
    height: auto;
    right: -150px;
}
#solidLearn {
    display: none; /* initially hidden */
}
#solidChar1 {
    display: none; /* initially hidden */
}
.slg-char{
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
}
.slg-char h2{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}
.slg-char ul{
    list-style-type: disc;
}
.slg-char li{
    position: relative;
    font-size: 16px;
    width: 60%;
    top: -140px;
    right: -95px;
    line-height: 1.5;
    font-family: var(--fontMain);
    color: var(--main-color);
}
.slg-char img{
    position: relative;
    width: 120px;
    height: auto;
    left: -5px;
}
.slg-happen{
    position: relative;
    display: none;
    width: 100%;
    height: 450px;
}
.slg-happen h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}
.slg-happen p{
    width: 60%;
    margin-top: -80px;
    font-size: 16px;
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.1;
}
.slg-happen img{
    position: relative;
    width: 120px;
    height: auto;
    right: -150px;
    top: 20px;
}
.slg-letsTry{
    position: relative;
    display: block;
    width: 100vw;
    height: 685px;
    top: -80px;
    left: -32px;
}
#slg-board{
    position: absolute;
    width: 100%;
    height: 95%;
    top: 2%;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    padding: 10px; 
    box-sizing: border-box;
}
.slg-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    top: 50px;
    left: 35px;
    align-items: center;
}
.slg-einstein{
    position: absolute;
    display: flex;
    width: 150px;
    top: 170px;
    left: -10px;
}
.slg-lets{
    position: absolute;
    display: flex;
    width: 250px;
    top: 50px;
    right: -20px;
}
.slgButtons{
    position: relative;
    top: 170px;
    display: flex;
    justify-content: right;
    gap: 10px;
    right: 30px;
}
.go-back, .proceed-quiz{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--fontMain);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.go-back{
    background-color: #FF0000;
}
.proceed-quiz{
    background-color: #22db34;
}
.go-back:hover{
    background-color: rgb(129, 27, 27);
}
.proceed-quiz:hover{
    background-color: #177d23;
}
.slg-quiz{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
}
.slg-quiz h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 10px;
}
.quiz{
    position: relative;
    display: flex;
    justify-content: center;
}
.quiz h3{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
}
.quiz-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 210px;
    width: 80%;
}
.quiz-option{
    padding: 5px 10px;
    font-size: 18px;
    font-family: var(--fontMain);
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.quiz-option:hover{
    background-color: #177d23;
}
.quiz-option.selected{
    background-color: #177d23;
}
.slg-quizResult{
    position: absolute;
    display: block;
    width: 100%;
    height: 400px;
    top: 20px;
}
.result-cont{
    position: relative;
    display: block;
    width: 110%;
    height: 594px;
    background-color: #00B975;
    left: -10px;
    top: -59px;
    border-radius: 5px;
}
.result{
    position: relative;
    display: flex;
    height: 400px;
    top: 110px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result a{
    position: absolute;
    display: block;
    top: -50px;
    right: 20px;
}
.result-close{
    position: absolute;
    display: block;
    width: 25px;
    right: -10px;
}
.review-close:hover{
    transform: scale(1.1);
}
.result h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 30px;
}
.result h2{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 10px;
}
.resultStar{
    position: relative;
    display: flex;
    width: 110px;
}
.review-quiz{
    position: absolute;
    bottom: -50px;
    right: 60px;
    padding: 5px 10px;
    background-color: #d9d9d990;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--fontMain);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.review-quiz:hover{
    background-color: #838282;
}
.result-einstein{
    position: absolute;
    display: block;
    width: 100px;
    bottom: -80px;
    right: -10px;
}
.slg-quizCompleted{
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    top: 20px;
}
.completed-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 450px;
    top: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.completed-cont h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 30px;
}
.content-row {
    position: relative;
    display: flex;
    width: 90%;
    left: -40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.content-row h2{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin: 0;
    flex: 1;
}
.completed-einstein{
    position: relative;
    width: 120px;
    flex-shrink: 0;
}
.medal1{
    width: 120px;
    margin-top: 20px;
}
.back-main{
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 5px 0px;
    width: 100px;
    height: 40px;
    background-color: #d9d9d990;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--fontMain);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back-main:hover{
    background-color: #838282;
}
.popUpQuiz{
    position: absolute;
    display: block;
    width: 100%;
    height: 400px;
    top: -1px;
}
.popUp-cont{
    position: relative;
    display: block;
    width: 108.5%;
    height: 598px;
    background-color: #00B975;
    left: -10px;
    top: -61px;
    border-radius: 5px;
}
.pquiz{
    position: relative;
    display: block;
    justify-content: center;
    top: 60px;
}
.pquiz h1{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}
.pquiz h2{
    font-family: var(--fontMain);
    color: var(--main-color);
    text-align: center;
}
.popquiz-options{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 100px;
    width: 80%;
}
.pquiz-option{
    padding: 10px 10px;
    font-size: 18px;
    font-family: var(--fontMain);
    background-color: #d9d9d990;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.pquiz-option:hover{
    background-color: #177d23;
}
.pquiz-option.selected{
    background-color: #177d23;
}
.correctIncorrect{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 100px;
    height: 400px;
    width: 100%;
    z-index: 10;
}
.c-cont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    top: 50px;
}
.gif{
    position: absolute;
    display: none;
    width: 250px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}
.gif.show {
    display: block;
    opacity: 1;
}
.wrongAnswers{
    position: absolute;
    display: block;
    width: 100%;
    height: 400px;
    top: 20px;
}
.wrongAnswers-cont{
    position: relative;
    display: block;
    width: 108.5%;
    height: 598px;
    background-color: #00B975;
    left: -10px;
    top: -61px;
    border-radius: 5px;
}
#liquidExamples h1, #gasExamples h1{
    display: none;
}

@media only screen and (min-width: 321px) and (max-width: 600px){
    .matter-cont{
        min-width: 256px;
    }
    .matter-cont p{
        font-size: 19px;
    }
    .s-btn1{
        bottom: 150px;
        right: 120px;
        justify-content: flex-end;
    }
    /*Topic*/
    .topic{
        min-width: 256px;
    }
    .topic h2{
        margin-bottom: -20px;
    }
    .topic-choices{
        min-width: 237px;
        top: 30px;
    }
    .topic img{
        width: 170px;
    }
    /*Matter=Topic*/
    #matterTopic, #solid, #solidDef{
        min-width: 256px;
    }
    #solidExamples{
        min-width: 128px;
        left: 21vw;
    }
    #solidExamples h1 , #solidDef h1{
        margin-bottom: 50px;
    }
    #solidExamples img{
        min-width: 100px;
        width: 25vw;
    }
    #solidDef p{
        font-size: 20px;
    }
    .slg{
        top: 5vw;
    }
    .slg img{
        min-width: 90px;
        width: 20vw;
    }
    .slg-learn{
        min-width: 257px;
    }
    .slg-learn h1{
        margin-bottom: 80px;
    }
    .slg-learn p{
        font-size: 19px;
    }
    .slg-learn img{
        min-width: 120px;
        width: 30vw;
        right: -50vw;
        top: 30px;
    }
    .slg-char{
        min-width: 257px;
    }
    .slg-char h2{
        margin-bottom: 80px;
    }
    .slg-char li{
        font-size: 18px;
        top: -190px;
        right: -30vw;
    }
    .slg-char img{
        min-width: 120px;
        width: 30vw;
        left: -5px;
    }
    .slg-happen{
        min-width: 257px;
    }
    .slg-happen h1{
        min-width: 60px;
    }
    .slg-happen p{
        font-size: 17px;
        margin-top: -80px;
    }
    .slg-happen img{
        min-width: 120px;
        width: 35vw;
        right: -48vw;
        top: 30px;
    }
    #solidLetsTry{
        min-width: 321px;
        left: -10vw;
    }
    #slg-board{
        min-width: 310px;
    }
    .slg-cont{
        min-width: 260px;
        height: 500px;
        left: 12vw;
    }
    .slg-einstein{
        min-width: 150px;
        width: 40vw;
        left: 3vw;
    }
    .slg-lets{
        min-width: 250px;
        width: 55vw;
        top: 10vw;
    }
    .slgButtons{
        top: 80px;
        right: 40px;
    }
    .go-back, .proceed-quiz{
        padding: 8px 10px;
    }
    .slg-quiz, .quiz{
        min-width: 257px;
    }
    .quiz-options{
        min-width: 206px;
    }
    .quiz-option{
        max-width: 150px;
    }
    .quiz h3{
        font-size: 24px;
    }
    .slg-quizResult{
        min-width: 257px;
    }
    .result{
        min-width: 286px;
    }
    .result-close{
        width: 30px;
    }
    .result-cont{
        min-width: 286px;
        left: -3.5vw;
    }
    .review-quiz{
        right: 75px;
    }
    .result-einstein{
        min-width: 100px;
        width: 20vw;
    }
    .slg-quizCompleted, .completed-cont{
        min-width: 257px;
    }
    .content-row h2{
        margin-top: -10vw;
        font-size: 25px;
    }
    .content-row{
        min-width: 195px;
        left: -7vw;
        margin-bottom: 0px;
    }
    .completed-einstein{
        min-width: 120px;
        width: 30vw;
    }
    .medal1{
        min-width: 120px;
        width: 25vw;
        margin-top: -1vw;
    }
    .back-main{
        right: -10px;
    }
    .popUpQuiz{
        min-width: 257px;
    }
    .popUp-cont{
        min-width: 288px;
        width: 112%;
        left: -4.5vw;
    }
    .pquiz{
        min-width: 288px;
    }
    .popquiz-options{
        min-width: 222.2px;
    }
    .correctIncorrect{
        min-width: 334.5px;
    }
    .c-cont{
        min-width: 257px;
    }
    .gif{
        width: 270px;
    }
    .wrongAnswers{
        min-width: 257px;
    }
    .wrongAnswers-cont{
        min-width: 288px;
        width: 112%;
        left: -4.5vw;
    }
}

@media only screen and (min-width: 601px){
    .matter-cont{
        min-width: 480px;
    }
    .matter-cont h1{
        font-size: 35px;
        margin-bottom: 80px;
    }
    .matter-cont p{
        font-size: 25px;
    }
    .s-btn1{
        bottom: 180px;
        right: 150px;
        justify-content: flex-end;
    }
    .s-btn1 img {
        width: 130px;
    }
    /*Topic*/
    .topic{
        min-width: 480px;
    }
    .topic h2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .topic h3{
        font-size: 24px;
    }
    .topic-choices{
        min-width: 461px;
        top: 30px;
    }
    .topic img{
        width: 190px;
    }   
    /*Matter=Topic*/
    #matterTopic, #solid{
        min-width: 480px;
    }
    #solidExamples{
        min-width: 240px;
        left: 21vw;
    }
    #solidExamples h1{
        margin-bottom: 45px;
    }
    #solidExamples img{
        min-width: 150px;
        width: 190px;
    }
    #solidDef{
        min-width: 433px;
    }
    #solidDef h1{
        margin-bottom: 60px;
    }
    #solidDef p{
        font-size: 25px;
    }
    .slg{
        top: 10px;
    }
    .slg img{
        min-width: 120px;
        width: 130px;
    }
    .slg-learn{
        min-width: 481px;
    }
    .slg-learn h1{
        margin-bottom: 50px;
    }
    .slg-learn p{
        font-size: 25px;
        margin-top: -190px;
    }
    .slg-learn img{
        min-width: 180px;
        width: 30vw;
        right: -50vw;
        top: 30px;
    }
    .slg-char{
        min-width: 481px;
    }
    .slg-char h2{
        font-size: 30px;
        margin-bottom: 80px;
    }
    .slg-char li{
        top: -250px;
        font-size: 24px;
        right: -34vw;
    }
    .slg-char img{
        min-width: 180px;
        width: 220px;
    }
    .slg-happen{
        min-width: 481px;
    }
    .slg-happen h1{
        margin-bottom: 60px;
    }
    .slg-happen p{
        font-size: 25px;
        margin-top: -110px;
    }
    .slg-happen img{
        min-width: 210px;
        width: 230px;
        right: -47vw;
        top: 30px;
    }
    #solidLetsTry{
        min-width: 601px;
        left: -13vw;
    }
    #slg-board{
        min-width: 571px;
    }
    .slg-cont{
        min-width: 480px;
        height: 550px;
        left: 12vw;
    }
    .slg-einstein{
        min-width: 240px;
        width: 250px;
        left: 5vw;
        top: 170px;
    }
    .slg-lets{
        min-width: 330px;
        width: 410px;
        top: 40px;
        right: -60px;
    }
    .slgButtons{
        top: 20px;
    }
    .go-back, .proceed-quiz{
        padding: 10px 10px;
        font-size: 20px;
    }
    .slg-quiz, .quiz{
        min-width: 481px;
    }
    .quiz-options{
        min-width: 385px;
    }
    .quiz-option{
        font-size: 24px;
        width: 200px;
    }
    .quiz h3{
        font-size: 30px;
    }
    .slg-quizResult{
        min-width: 481px;
        height: 500px;
    }
    .result-cont{
        min-width: 538px;
        width: 113%;
        left: -4.5vw;
    }
    .result{
        min-width: 543px;
        top: 90px;
    }
    .result a{
        top: -50px;
        right: 30px;
    }
    .result-close{
        width: 40px;
    }
    .result h1{
        font-size: 36px;
    }
    .result h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .resultStar{
        width: 150px;
    }
    .review-quiz{
        width: 150px;
        height: 40px;
        font-size: 22px;
        bottom: -70px;
        right: 110px;
    }
    .result-einstein{
        min-width: 120px;
        width: 160px;
        bottom: -100px;
    }
    .slg-quizCompleted, .completed-cont{
        min-width: 481px;
    }
    .completed-cont{
        top: 40px;
    }
    .completed-cont h1{
        font-size: 32px;
    }
    .content-row{
        min-width: 397px;
        width: 100%;
        left: -2vw;
    }
    .content-row h2{
        font-size: 28px;
        margin-top: -150px;
        margin-left: -50px;
    }
    .completed-einstein{
        min-width: 180px;
        width: 210px;
        right: 20px;
    }
    .medal1{
        min-width: 150px;
        width: 180px;
        margin-top: -150px;
    }
    .back-main{
        width: 170px;
        height: 40px;
        font-size: 18px;
        padding: 5px 5px;
        right: -25px;
    }
    .popUpQuiz{
        min-width: 481px;
    }
    .popUp-cont{
        min-width: 530px;
        width: 113%;
        left: -4.5vw;
    }
    .pquiz{
        min-width: 543px;
        height: 500px;
    }
    .pquiz h1{
        font-size: 38px;
    }
    .pquiz h2{
        font-size: 32px;
    }
    .popquiz-options{
        min-width: 439px;
    }
    .pquiz-option{
        padding: 10px 10px;
        font-size: 22px;
    }
    .correctIncorrect{
        min-width: 481px;
    }
    .c-cont{
        min-width: 480px;
    }
    .gif{
        width: 300px;
    }
    .wrongAnswers{
        min-width: 481px;
    }
    .wrongAnswers-cont{
        min-width: 530px;
        width: 113%;
        left: -4.5vw;
    }
}

@media only screen and (min-width: 768px){
    .matter-cont{
        min-width: 614px;
        height: 400px;
        top: 170px;
    }
    .matter-cont h1{
        font-size: 42px;
        margin-bottom: 130px;
    }
    .matter-cont p{
        font-size: 33px;
    }
    .s-btn1 {
        bottom: -190px;
        right: 220px;
    }
    .s-btn1 img{
        width: 170px;
    }
    /*Topic*/
    .topic{
        min-width: 614px;
        top: 130px;
        height: 600px;
    }
    .topic h2{
        font-size: 38px;
        margin-bottom: 60px;
    }
    .topic h3{
        font-size: 30px;
    }
    .topic-choices{
        min-width: 594px;
    }
    .topic img{
        width: 260px;
    }   
    /*Matter=Topic*/
    #matterTopic, #solid{
        min-width: 614px;
        height: 650px;
    }
    #solidExamples{
        min-width: 310px;
        left: 21vw;
    }
    #solidExamples h1{
        margin-bottom: 55px;
        font-size: 40px;
    }
    #solidExamples img{
        width: 260px;
    }
    #solidDef{
        min-width: 553px;
    }
    #solidDef h1{
        margin-bottom: 80px;
        font-size: 40px;
    }
    #solidDef p{
        font-size: 30px;
    }
    .slg{
        top: 20px;
    }
    .slg img{
        min-width: 130px;
        width: 150px;
    }
    .slg-learn{
        min-width: 615px;
    }
    .slg-learn h1{
        margin-bottom: 60px;
        font-size: 40px;
    }
    .slg-learn p{
        font-size: 30px;
        margin-top: -210px;
    }
    .slg-learn img{
        width: 290px;
        right: -50vw;
        top: 50px;
    }
    .slg-char{
        min-width: 615px;
    }
    .slg-char h2{
        font-size: 38px;
        margin-bottom: 95px;
    }
    .slg-char li{
        font-size: 30px;
        top: -290px;
        right: -335px;
    }
    .slg-char img{
        min-width: 220px;
        width: 280px;
    }
    .slg-happen{
        min-width: 615px;
    }
    .slg-happen h1{
        font-size: 38px;
        margin-bottom: 70px;
    }
    .slg-happen p{
        font-size: 30px;
        margin-top: -100px;
    }
    .slg-happen img{
        min-width: 230px;
        width: 290px;
        top: 60px;
    }
    #solidLetsTry{
        min-width: 768px;
        height: 1157px;
        top: -88px;
    }
    #slg-board{
        min-width: 729.5px;
    }
    .slg-cont{
        min-width: 614px;
        height: 700px;
        top: 150px;
        left: 12vw;
    }
    .slg-einstein{
        min-width: 250px;
        width: 330px;
        top: 350px;
    }
    .slg-lets{
        min-width: 410px;
        width: 600px;
        top: 50px;
        right: -70px;
    }
    .slgButtons{
        top: 300px;
        right: 40px;
    }
    .go-back, .proceed-quiz{
        padding: 15px 12px;
        font-size: 24px;
    }
    .slg-quiz, .quiz{
        min-width: 614.5px;
    }
    .quiz{
        left: 4vw;
    }
    .slg-quiz h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .quiz-options{
        min-width: 650px;
        margin-top: 290px;
        gap: 50px;
    }
    .quiz-option{
        font-size: 26px;
        width: 230px;
    }
    .quiz h3{
        font-size: 34px;
    }
    .slg-quizResult{
        min-width: 614.5px;
        height: 800px;
    }
    .result-cont{
        min-width: 694.5px;
        width: 113.5%;
        height: 1030px;
        left: -5vw;
    }
    .result{
        min-width: 698px;
        height: 500px;
        top: 210px;
    }
    .result-close{
        width: 50px;
    }
    .result h1{
        font-size: 44px;
    }
    .result h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .resultStar{
        width: 230px;
    }
    .review-quiz{
        width: 180px;
        height: 50px;
        font-size: 28px;
        bottom: -240px;
        right: 175px;
    }
    .result-einstein{
        min-width: 160px;
        width: 250px;
        bottom: -320px;
    }
    .slg-quizCompleted, .completed-cont{
        min-width: 614.5px;
        top: 80px;
    }
    .completed-cont h1{
        font-size: 48px;
    }
    .content-row{
        min-width: 574.5px;
        max-width: 793px;
        left: -1vw;
    }
    .content-row h2{
        font-size: 42px;
        margin-left: -30px;
    }
    .completed-einstein{
        width: 240px;
        right: -10px;
    }
    .medal1{
        width: 240px;
        margin-top: -50px;
    }
    .popUpQuiz{
        min-width: 614.5px;
        height: 800px;
    }
    .popUp-cont{
        min-width: 694.5px;
        width: 113.2%;
        left: -4.8vw;
        height: 1034px;
    }
    .pquiz{
        min-width: 696px;
        top: 180px;
    }
    .pquiz h1{
        font-size: 44px;
        margin-bottom: 100px;
    }
    .pquiz h2{
        font-size: 38px;
    }
    .popquiz-options{
        min-width: 439px;
        margin-top: 150px;
    }
    .pquiz-option{
        font-size: 24px;
        margin-top: 50px;
    }
    .correctIncorrect{
        min-width: 614.5px;
        top: 430px;
    }
    .c-cont{
        min-width: 614.5px;
    }
    .gif{
        width: 350px;
    }
    .wrongAnswers{
        min-width: 614.5px;
        height: 800px;
    }
    .wrongAnswers-cont{
        min-width: 694.5px;
        width: 113.2%;
        left: -4.8vw;
        height: 1034px;
    }
}

@media only screen and (min-width: 992px){
    .matter-cont{
        min-width: 792px;
        height: 500px;
        top: 200px;
    }
    .matter-cont h1{
        font-size: 45px;
        margin-bottom: 140px;
    }
    .matter-cont p{
        font-size: 35px;
    }
    .s-btn1 {
        bottom: -160px;
        right: 240px;
    }
    .s-btn1 img{
        width: 200px;
    }
    /*Topic*/
    .topic{
        min-width: 794px;
        top: 130px;
    }
    .topic h2{
        font-size: 45px;
        margin-bottom: 60px;
    }
    .topic h3{
        font-size: 34px;
    }
    .topic-choices{
        min-width: 774px;
    }
    .topic img{
        width: 320px;
    }   
    /*Matter=Topic*/
    #matterTopic, #solid{
        min-width: 794px;
        height: 750px;
    }
    #solidExamples{
        min-width: 397px;
        left: 21vw;
    }
    #solidExamples h1{
        margin-bottom: 55px;
        font-size: 45px;
    }
    #solidExamples img{
        width: 320px;
    }
    #solidDef{
        min-width: 715px;
    }
    #solidDef h1{
        margin-bottom: 100px;
        font-size: 45px;
    }
    #solidDef p{
        font-size: 36px;
    }
    .slg{
        top: 20px;
    }
    .slg img{
        min-width: 150px;
        width: 180px;
    }
    .slg-learn{
        min-width: 794px;
    }
    .slg-learn h1{
        margin-bottom: 60px;
        font-size: 45px;
    }
    .slg-learn p{
        font-size: 36px;
        margin-top: -220px;
    }
    .slg-learn img{
        width: 320px;
        right: -50vw;
        top: 70px;
    }
    .slg-char{
        min-width: 794px;
    }
    .slg-char h2{
        font-size: 45px;
        margin-bottom: 110px;
    }
    .slg-char li{
        top: -350px;
        right: -34vw;
        font-size: 36px;
    }
    .slg-char img{
        min-width: 280px;
        width: 320px;
        left: 2vw;
    }
    .slg-happen{
        min-width: 794px;
    }
    .slg-happen h1{
        font-size: 45px;
        margin-bottom: 80px;
    }
    .slg-happen p{
        font-size: 36px;
        margin-top: -120px;
    }
    .slg-happen img{
        min-width: 290px;
        width: 320px;
        right: -48vw;
        top: 60px;  
    }
    .slg-cont{
        min-width: 794px;
        height: 900px;
        top: 150px;
        left: 12vw;
    }
    .slg-einstein{
        min-width: 330px;
        width: 360px;
        left: 8vw;
        top: 350px;
    }
    .slg-lets{
        min-width: 650px;
        width: 750px;
        right: -90px;
        top: 10px;
    }
    .slgButtons{
        top: 90px;
        right: 50px;
    }
    .go-back, .proceed-quiz{
        padding: 16px 13px;
        font-size: 30px;
    }
    .slg-quiz{
        min-width: 794px;
        height: 600px;
    }
    .quiz{
        min-width: 794px;
    }
    .slg-quiz h1{
        font-size: 48px;
        margin-bottom: 50px;
    }
    .quiz-options{
        min-width: 780px;
    }
    .quiz-option{
        font-size: 32px;
        width: 250px;
        height: 80px;
    }
    .slg-quizResult{
        min-width: 794px;
    }
    .result-cont{
        min-width: 901.2px;
        width: 114%;
    }
    .result{
        min-width: 905.2px;
    }
    .result a{
        top: -60px;
    }
    .result-close{
        width: 60px;
    }
    .result h1{
        font-size: 48px;
    }
    .result h2{
        font-size: 44px;
        margin-bottom: 40px;
    }
    .resultStar{
        width: 250px;
    }
    .review-quiz{
        font-size: 30px;
        right: 195px;
    }
    .result-einstein{
        min-width: 250px;
        width: 270px;
    }
    .slg-quizCompleted, .completed-cont{
        min-width: 794px;
    }
    .completed-cont h1{
        font-size: 52px;
    }
    .content-row h2{
        font-size: 46px;
    }
    .completed-einstein{
        width: 260px;
    }
    .medal1{
        width: 260px;
    }
    .popUpQuiz{
        min-width: 794px;
    }
    .popUp-cont{
        min-width: 899px;
        width: 114.1%;
        left: -5.2vw;
    }
    .pquiz{
        min-width: 906px;
        height: 650px;
    }
    .pquiz h1{
        font-size: 50px;
    }
    .pquiz h2{
        font-size: 44px;
    }
    .popquiz-options{
        min-width: 724.5px;
    }
    .pquiz-option{
        font-size: 28px;
    }
    .correctIncorrect{
        min-width: 794px;
    }
    .c-cont{
        min-width: 794px;
    }
    .gif{
        width: 350px;
        top: 10px;
    }
    .wrongAnswers{
        min-width: 794px;
    }
    .wrongAnswers-cont{
        min-width: 899px;
        width: 114.1%;
        left: -5.2vw;
    }
}

@media only screen and (min-width: 1200px){
    .matter-cont{
        min-width: 840px;
        height: 550px;
    }
    .matter-cont h1{
        font-size: 48px;
    }
    .matter-cont p{
        font-size: 38px;
    }
    .s-btn1 {
        bottom: -150px;
        right: 270px;
    }
    .s-btn1 img{
        width: 230px;
    }
    /*Topic*/
    .topic{
        min-width: 960px;
    }
    .topic h2{
        font-size: 48px;
        margin-bottom: 60px;
    }
    .topic h3{
        font-size: 37px;
    }
    .topic-choices{
        min-width: 940px;
    }
    .topic img{
        width: 350px;
    }   
    /*Matter=Topic*/
    #matterTopic, #solid{
        min-width: 960px;
    }
    #solidExamples{
        min-width: 480px;
        left: 21vw;
    }
    #solidExamples h1{
        margin-bottom: 55px;
        font-size: 48px;
    }
    #solidExamples img{
        width: 350px;
    }
    #solidDef{
        min-width: 864px;
    }
    #solidDef h1{
        margin-bottom: 120px;
        font-size: 48px;
    }
    #solidDef p{
        font-size: 40px;
    }
    .slg{
        top: 60px;
    }
    .slg img{
        min-width: 180px;
        width: 210px;
    }
    .slg-char{
        min-width: 960px;
    }
    .slg-char h2{
        font-size: 48px;
        margin-bottom: 120px;
    }
    .slg-char li{
        font-size: 38px;
        top: -400px;
        right: -34vw;
    }
    .slg-char img{
        min-width: 320px;
        width: 380px;
        left: 10vw;
    }
    .slg-happen{
        min-width: 960px;
    }
    .slg-happen h1{
        font-size: 48px;
        margin-bottom: 120px;
    }
    .slg-happen p{
        font-size: 40px;
        margin-top: -150px;
    }
    .slg-happen img{
        min-width: 320px;
        width: 380px;
        right: -48vw;
        top: 60px;  
    }
    .slg-cont{
        min-width: 960px;
        max-width: 1500px;
        height: 900px;
        top: 120px;
        left: 12vw;
    }
    .slg-einstein{
        min-width: 360px;
        width: 400px;
        left: 12vw;
    }
    .slg-lets{
        min-width: 750px;
        width: 850px;
        right: -120px;
    }
    .slg-quiz{
        min-width: 960px;
        max-width: 1400px;
    }
    .quiz{
        min-width: 960px;
        max-width: 1400px;
    }
    .slg-quiz h1{
        font-size: 52px;
    }
    .quiz-options{
        min-width: 780px;
        max-width: 1000px;
    }
    .quiz-options{
        font-size: 36px;
        width: 300px;
        height: 100px;
    }
    .slg-quizResult{
        min-width: 960px;
    }
    .result-cont, .result{
        min-width: 1094.5px;
    }
    .result h1{
        font-size: 52px;
    }
    .result h2{
        font-size: 48px;
        margin-bottom: 40px;
    }
    .resultStar{
        width: 260px;
    }
    .review-quiz{
        font-size: 32px;
        right: 195px;
        width: 190px;
    }
    .result-einstein{
        min-width: 270px;
        width: 280px;
    }
    .popUpQuiz{
        min-width: 960px;
        max-width: 2050px;
    }
    .popUp-cont{
        min-width: 1095.5px;
        width: 115%;
        left: -5.5vw;
    }
    .pquiz{
        min-width: 1104px;
        max-width: 1900px;
    }
    .pquiz h1{
        font-size: 54px;
    }
    .pquiz h2{
        font-size: 48px;
    }
    .popquiz-options{
        min-width: 883.2px;
    }
    .correctIncorrect{
        min-width: 960px;
        max-width: 1600px;
    }
    .c-cont{
        min-width: 960px;
        max-width: 1600px;
    }
    .gif{
        width: 370px;
    }
    .wrongAnswers{
        min-width: 960px;
        max-width: 2050px;
    }
    .wrongAnswers-cont{
        min-width: 1095.5px;
        width: 115%;
        left: -5.5vw;
    }
}