* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #6B2525;
    color: #fff;
    padding-top: 20px;
}

#content-header {
    text-transform: uppercase;
    font-size: 20pt;
}

#header {
    margin-top: 100px;
    margin-left: 50px;
}
#container-right {
    margin-left: 400px;
}
.header-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 100px;
}

#content-header hr {
    border: 2px solid #6B2525;
    width: 100%;
    margin-top: 80px;
}
#nav-side img {
    margin-right: 10px;
}


#nav-links{
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    margin-left: 40px;
}

#nav-links li {
    margin-bottom: 50px;
}

#nav-links img {
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
}

#nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20pt;
    text-transform: uppercase;
}
